a {
    font-size: xx-large;
    color: #000;
}
#gg {
 background-color: aqua;
}
.ee {
color: rgb(21, 123, 212);
}
*{
    color: rgb(255, 255, 255);
    text-align: center;
}
h1,h2,h3{
    font-size: x-large;
    background-color: chocolate;
}
